
<footer>
        <div class="footer">
          <div class="container container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12 info-footer ">
                  <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/logo-footer.png" alt="">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 info-footer">
                  <div class="double">
                    <div class="celular datos-footer">
                      <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/phone-footer.png" alt="Telefono"><span>(01) 500 - 0620</span>
                    </div>
                    <div class="direccion datos-footer">
                      <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/correo-footer.png" alt="Correo"><span>ventas@inamesa.com.pe</span>
                    </div>
                  </div>
                  <div class="correo datos-footer">
                      <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/ubi-footer.png" alt="Dirección"><span>Calle 5 Mz. L1 Sub lote 3B-B, Coop. Las Vertientes, Villa El Salvador</span>
                  </div>                
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 info-footer">
                  <div class="redes">                    
                    <div class="icons-social">
                        <h6>Siguenos:</h6>
                        <a href="https://www.facebook.com/inamesaperu/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>                      
                        <a href="https://www.linkedin.com/company/inamesaperu/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/inamesa_peru/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/channel/UCOpwNVOnUIUAV5LKSc_0AfA" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </div>
                  </div>
              </div>              
            </div>
          </div>          
        </div>
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p>© 2019 Inamesa | Todos los derechos reservados</p>                
              </div>
              <div class="col-md-6">
                <p>Diseño Web <a href="http://www.creativadesign.pe/" target="_blank">CreativaDesign</a></p>                
              </div>              
            </div>
          </div>
        </div>
      </footer>
      <style>
/* footer*/
footer {
    background-color: #12263f;
    padding-top: 14px;
    margin-top: -1px;
}
.footer {
    padding-bottom: 5px;
    padding-top: 27px;
    border-bottom: 1px solid #2c3d54;
}
.footer .container{

}
.footer .container .row{

}
.footer .container .row .info-footer{
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
    font-weight: 300;
}
.footer .container .row .info-footer:nth-child(1){
    padding: 0;
}
.footer .container .row .info-footer:nth-child(3){
    padding: 0;
}

.footer .container .row ul{
    list-style: none;
    padding: 0;
    margin: 0;    
}
.footer .container .row ul li{
    margin-bottom: 6px;
    display: flex;
}
.footer .container .row .info-footer h4{
    font-weight: 600;
}
.footer .container .row .info-footer a{
    display: block;
    margin-bottom: 5px;
}
.footer .container .row .info-footer .fa-phone:before{
    content: url('../img/footer-phone.png');
    width: 17px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}
.footer .container .row .info-footer .fa-envelope:before{
    content: url('../img/footer-mail.png');
    width: 17px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}
.footer .container .row .info-footer .fa-map-marker:before{
    content: url('../img/footer-ubi.png');
    width: 17px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}
.footer .container .row .info-footer .fa-mobile:before{
    content: url('../img/footer-mobile.png');
    width: 17px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}
.footer .container .row .info-footer .logo_footer{
    display: inline-block;
}
.footer .container .row .info-footer .logo_footer img{

}
.footer .container .row .info-footer .redes .icons-social{
    padding-top: 15px;
}
.footer .container .row .info-footer .redes .icons-social h6{
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 13px;
}
.footer .container .row .info-footer .redes .icons-social a{
    color: #fff;
    display: inline-block;
    /*float: left;*/
    font-size: 19px;
    height: 34px;
    width: 34px;
    position: relative;
    margin-top: 6px;
    text-align: center;
    margin-right: 4px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: transparent;
}
.footer .container .row .info-footer .redes .icons-social a:hover{
    color: #12263f;
    border: 2px solid #fff;
    background-color: #fff;
}
.footer .container .row .info-footer .redes .icons-social a i{
    position: relative;
    top: 3px;
}
.footer .container .row .info-footer .datos-footer{
    display: inline-block;
    margin-bottom: 12px;
}
.footer .container .row .info-footer .celular{
    padding-top: 25px;
    padding-right: 93px;
}
.footer .container .row .info-footer .celular img{
    display: inline-block;
    position: relative;
    top: 0px;
    margin-right: 9px;
    width: 22px;
    height: 21px;
}
.footer .container .row .info-footer .correo{
    line-height: 37px;
    font-size: 17px;
}
.footer .container .row .info-footer .correo img{
    display: inline-block;
    max-height: 33px;
    position: relative;
    top: 0px;
    margin-right: 11px;
}
.footer .container .row .info-footer .direccion{
    line-height: 37px;
}
.footer .container .row .info-footer .direccion img{
    display: inline-block;
    max-height: 33px;
    position: relative;
    top: 0px;
    margin-right: 11px;
}
.copyright .container .row {
    padding: 10px 0px 8px;
}
.copyright .container .row p{
    margin: 0;
    font-size: 13px;
    font-family: "Arial";
    color: #fff;
}
.copyright .container .row a{
    margin: 0;
    font-size: 13px;
    font-family: "Arial";
    color: #fff;
}
.copyright .container .row a:hover{
    color: #fff;
}
.copyright .container .row [class*='col']{
    padding: 0;    
}
.copyright .container .row [class*='col']:nth-child(2){
    text-align: right;
}
.copyright .container .row [class*='col'] h4{
    padding: 0;    
}
.copyright .container .row [class*='col'] ul{
    padding: 0;    
}
      </style>