
	<div class="industria home">
        <div class="container">
          <div class="title verdana">
              <h2><strong>36</strong> AÑOS</h2>
              <h4>al servicio de la industria peruana</h4>
          </div>
          <div class="contenido">
            <p>INAMESA empresa peruana presente en todos los sectores productivos: pesquero, minero-metalúrgico, agroindustrial, lácteo, inmobiliario, metalmecánico, energético, textil, químico apoyando y contribuyendo con el desarrollo de nuestro país.</p>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
              <div class="box-info">
                <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/industria-1.png" alt="">
                <h3>Alto Estándar de Calidad</h3>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay=".8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeIn;">
              <div class="box-info">
                <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/industria-2.png" alt="">
                <h3>Equipamiento y Tecnología de Punta</h3>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 1.2s; animation-name: fadeIn;">
              <div class="box-info">
                <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/industria-3.png" alt="">
                <h3>Personal Calificado</h3>
              </div>
            </div>                        
          </div>
        </div>
      </div>
           <style>
            .industria{
                padding-top: 45px;
                padding-bottom: 45px;
                background-image: url(../img/bg-industria.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
            }
            .home.industria .title {
                margin-bottom: 20px;
            }
            .industria .contenido p{
                font-family: "Verdana";
                color: var(--main-text );
                font-size: 15px;
                text-align: center;
                line-height: 24px;
                max-width: 950px;
                margin: auto;
            }
            .industria .row{
                padding-top: 48px;
                max-width: 950px;
                margin: auto;
            }
            .industria .box-info {
                width: 245px;
                margin: auto;
                border-radius: 35px;
                height: 225px;
                text-align: center;
                border: 3px dotted var(--main-beige);
                -webkit-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
                padding-top: 22px;
            
            }
            .industria .box-info h3{
                color: var(--main-text);
                font-family: "Source Sans Pro";
                font-size: 23px;
                text-align: center;
                font-weight: 600;
            }
            .industria [class*='col']:nth-child(1) .box-info{
                padding-left: 35px;
                padding-right: 35px; 
            }
            .industria [class*='col']:nth-child(2) .box-info{
                padding-left: 10px;
                padding-right: 10px; 
            }
            .industria [class*='col']:nth-child(3) .box-info{
                padding-left: 15px;
                padding-right: 15px; 
            }</style>