---
import Copyright from '@/components/Footer/Copyright.astro';
import SocialIcons from '@/components/Footer/SocialIcons.astro';
import Logo from '@/components/Logo.astro';
---

<footer class="bg-[--nav-bg] pt-14 mt-[70px] relative">
  <div class="absolute bottom-full h-20 w-full max-w-full z-10" style="background-image: url(/Fondos/footer.jpg); background-position: bottom;"></div>
  <div class="pb-5 pt-7 border-b border-[--main-beige]">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="flex justify-center mb-4">
          <Logo></Logo>
        </div>
        <div class="mb-4 font-sans text-lg text-white font-light">
          <div class="flex flex-col md:flex-row md:justify-between">
            <div class="flex items-center mb-3 md:mb-0">
              <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/phone-footer.png" alt="Telefono" class="mr-2 w-5 h-5">
              <span>(01) 500 - 0620</span>
            </div>
            <div class="flex items-center">
              <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/correo-footer.png" alt="Correo" class="mr-2 w-5 h-5">
              <span>ventas@inamesa.com.pe</span>
            </div>
          </div>
          <div class="flex items-start mt-3">
            <img src="./INAMESA _ Planchas, Tuberías y Accesorios de acero inoxidable_files/ubi-footer.png" alt="Dirección" class="mr-2 w-5 h-5 mt-1">
            <span>Calle 5 Mz. L1 Sub lote 3B-B, Coop. Las Vertientes, Villa El Salvador</span>
          </div>
        </div>
        <div class="mb-4">
          <SocialIcons />
        </div>
      </div>
    </div>
  </div>
  <Copyright />
</footer>