---
import EmpresasSlider from './EmpresasSlider.astro';

const clients = [
    { id: 1, image: "./clientes/cliente-10.png" },
    { id: 2, image: "./clientes/cliente-1.png" },
  { id: 3, image: "./clientes/cliente-20.png" },
  { id: 4, image: "./clientes/cliente-10.png" },
  { id: 5, image: "./clientes/cliente-1.png" },
  { id: 6, image: "./clientes/cliente-20.png" },
  { id: 7, image: "./clientes/cliente-1.png" },
  { id: 8, image: "./clientes/cliente-1.png" },
  { id: 9, image: "./clientes/cliente-20.png" },
  { id: 10, image: "./clientes/cliente-1.png" }
];
---

<div>
  <EmpresasSlider clients={clients}/>
</div>

