---
import TitleWithLines from './TituloConLineas.astro';


interface Props {
  Contenido: string;
  Url?: string;
  Color?: string;
}
const { Url = '/Fondos/Fondo3.png', Contenido, Color } = Astro.props;

function formatContent(content: string, color?: string) {
  // Check if the content contains any '--' patterns
  if (!content.includes('--')) {
    return content; // Return the content as is if no patterns are found
  }

  const parts = content.split(/--(.+?)--/);
  return parts.map((part, index) => {
    if (index % 2 === 0) {
      return part;
    } else {
      return `<span style="color: ${color || 'var(--main-title)'}">${part}</span>`;
    }
  }).join('');
}

const formattedContent = formatContent(Contenido, Color);
---

<div class=" min-h-40 flex items-center relative justify-center mb-10" >
  <div class="h-full w-full absolute" >
    <img style="clip-path: polygon(100% 0px, 100% 45%, 50% 100%, 0 45%, 0 0); object-position: center bottom;" class="object-cover  absolute -z-10 top-0 w-full h-full overflow-hidden" src={Url} alt="">
  </div>
  <TitleWithLines class="title-with-lines uppercase text-4xl font-bold text-white">
    {formattedContent.includes('<span') ? (
      <Fragment set:html={formattedContent} />
    ) : (
      formattedContent
    )}
  </TitleWithLines>
</div>
