---
const {Color} = Astro.props
---

<h1 class="title-with-lines uppercase text-3xl font-bold text-white mx-auto text-center flex items-center justify-center" style={`color: ${Color};`}>
    <slot />
  </h1>
  <!-- <style>
    .title-with-lines {
      position: relative;
      &::after, &::before {
        content: '';
        position: absolute;
        background: var(--nav-hover);
        top: 50%;
        height: 2px;
        width: 8%;
      }
      &::after {
        right: 50px;
      }
      &::before {
        left: 50px;
      }
    }
    @media (max-width: 600px) {
      .title-with-lines {
        &::after,&::before {
          display: none;
        }
      }
    }
    
    </style> -->