---
const date = new Date().getFullYear()
---

<div class="bg-[--main-beige] text-black py-2">
    <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <p class="text-sm font-arial mb-2 md:mb-0">© {date} Inamesa | Todos los derechos reservados</p>
        <p class="text-sm font-arial">
          <!-- Diseño Web <a href="http://www.creativadesign.pe/" target="_blank" rel="noopener noreferrer" class="hover:underline">CreativaDesign</a> -->
        </p>
      </div>
    </div>
  </div>