---
import IndustriaSection from './IndustriaSection.astro';
---

<div class="py-12 relative max-w-full" >
  <div class='absolute inset-0 w-full  aspect-[6/2] bg-cover bg-no-repeat bg-center -z-10' style="background-image: url(/industria/bg-industria.jpg);">
  </div>
  <IndustriaSection />
</div>
