---
import Logo from "./Logo.astro";
---

<header>
  
  <nav class="navbar" role="navigation">

    <div class="container container-fluid">

      <div class="row"> 

        <div class="col-md-3 col-sm-3 col-xs-12 pad">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <div id="navbar-hamburger">
            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
                  </div>
                  <div id="navbar-close" class="hidden">
                    <span class="glyphicon glyphicon-remove"></span>
                  </div>
          </button>

         

          <Logo/>

      </div>

        <div class="col-md-9 col-sm-9 col-xs-12 pad">
            <div class="phone-top">
                <div class="">
                    <img src="../../public/ico-phone-top.png" alt=""><strong>(01)</strong> 500 0620
                </div> 
            </div>

            
              <!--<div id="navbar" class="navbar-collapse collapse">

                    <ul>          

                        <li class="current-menu-item"><a href="##">Home</a></li>

                        <li><a href="##">La Empresa</a></li>

                        <li><a href="##">Materiales</a></li>

                        <li><a href="##">Industrial</a></li>  

                        <li><a href="##">Proyectos</a></li>

                        <li><a href="##">Clientes</a></li>

                        <li><a href="##">Contacto</a></li>

                    </ul>

              </div> -->
          <div id="navbar" class="navbar-collapse collapse">
            <ul id="menu-menu-principal" class="  ">
              <li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-9">  
                <a href="#" aria-current="page">Home</a>
              </li>
              <li id="menu-item-681" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-681">
                <a href="#">La Empresa</a>
              </li>
            <li id="menu-item-849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-849">
                <a href="#">Materiales</a>
                <ul class="sub-menu">
                  <li id="menu-item-508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508">
                    <a href="#">Planchas de Acero Inoxidable</a>
                  </li>
                  <li id="menu-item-509" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-509">
                    <a href="#">Tuberías de Acero Inoxidable</a>
                  </li>
                  <li id="menu-item-510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-510">
                    <a href="#">Barras de Acero Inoxidable</a>
                  </li>
                  <li id="menu-item-639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-639">
                    <a href="#">Angulos y plantinas de acero inoxidable</a>
                  </li>
                  <li id="menu-item-512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-512">
                    <a href="#">Mallas de Tarrajeo y Mallas Mesh</a>
                  </li>
                  <li id="menu-item-513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-513">
                    <a href="#">Accesorios de Acero Inoxidable</a>
                  </li>
                  <li id="menu-item-1229" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1229">
                    <a href="#">Elementos de Sujeción</a>
                  </li>
                </ul>
            </li>
            <li id="menu-item-852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-852">
              <a href="#">Industrial</a>
              <ul class="sub-menu">
                <li id="menu-item-507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-507">
                  <a href="#">Planchas Perforadas</a>
                </li>
                <li id="menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-506">
                  <a href="#">Tubos y Filtros para Pozos de Agua</a>
                </li>
                <li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505">
                  <a href="#">Planchas Estriadas y Embutidas</a>
                </li>
                <li id="menu-item-640" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-640">
                  <a href="#">Cribas, Zarandas, Bandejas, Portacables</a>
                </li>
                <li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503">
                  <a href="#">Planchas Desplegadas o Expanded Metals</a>
                </li>
                <li id="menu-item-564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-564">
                  <a href="#">Servicios Especializados</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-692" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-692">
              <a href="#">Proyectos</a>
            </li>
            <li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1023">
              <a href="#">Noticias</a>
            </li>
            <li id="menu-item-533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-533">
              <a href="#">Contacto</a>
              <ul class="sub-menu">
                <li id="menu-item-643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643">
                  <a href="#">Clientes</a>
                </li>
                <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024">
                  <a href="#">Trabaja con Nosotros</a>
                </li>
                <li id="menu-item-735" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-735">
                  <a href="#">Facturación Electrónica</a>
                </li>
              </ul>
          </li>
        </ul>
      </div>  

    </div>  

    </div> 

    </div>  

  </nav>

  </header>
  <!-- <style>
    
    .navbar {
      margin: 0 auto;
      border: none;
      max-width: 1200px
      border-radius: inherit;
      height: auto;
      background-color: transparent;
      padding-top: 0;
      padding-bottom: 10px;
      background-color: var(--main-black);
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .navbar .row {

  }
  .navbar .row .pad{
  padding: 0;
  }

  .navbar .container .row .navbar-collapse{
  padding: 0;
  }
  .navbar .container .row .navbar-collapse >ul{
  padding: 0;
  margin: 0;
  
  display: flex;
      justify-content: center;
      align-items: end;
  }
  .navbar .container .row .navbar-collapse >ul >li{
    display: inline-block;
    margin-left: 44px;
    position: relative;
  }

  .navbar .container .row .navbar-collapse >ul >li a{
    font-size: 12px;
    font-family: "AcuminPro-Bold"; 
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-beige);
    line-height: 10px;
    text-decoration: none;
    padding-bottom: 15px;
    padding-left: 5px;
    /* padding-top: 27px; */
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: relative;
    z-index: 9999;
  }



  .navbar .container .row .navbar-collapse >ul >li:hover a{
    color: var(--nav-hover);
  }
  .navbar .container .row .navbar-collapse > ul > li.current-menu-item a{
  color: var(--nav-text)  
  }
  #navbar >ul >li.current-menu-item{
    color: var(--nav-text)
  }
  #navbar >ul >li.current-menu-item a:before, #navbar >ul >li > a:hover:before {
    opacity: 1;
  }
  #navbar >ul >li > a:before {
    height: 7px;
    width: 7px;
    content: "";
    transition: opacity .5s;
    position: absolute;
    background: var(--nav-text);
    left: -15px;
    opacity: 0;
    margin-top: 0px;
  }


  .navbar .menu-item .sub-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .navbar li.menu-item-has-children.menu-item:hover:after{
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #d9dadc transparent;
    position: absolute;
    left: calc(50% - 10px);
    bottom: -1px;
  }
  .navbar .menu-item .sub-menu {
    position: absolute;
    z-index: 100;
    padding: 0;
    min-width: 240px;
    color: #fff;
    list-style: none;
    text-align: left;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 0px;
    background-color: #dcdfe2;
    margin: 0px 0 0px 0;
    box-sizing: border-box;
    max-height: 0;
    /*-webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;*/
    overflow: hidden;
    border-radius: 6px;
  }
  .navbar .menu-item:hover .sub-menu {
    margin: 0px 0 0px 0;
    min-height: 0px;
    padding-bottom: 0px;
    min-height: 0px;
    max-height: 800px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
  .navbar .container .row .navbar-collapse .sub-menu li{
    padding-left: 9px;
    padding-right: 9px;
    background-color: transparent;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
  }
  .navbar .container .row .navbar-collapse .sub-menu li:hover{
    background-color: var(--nav-text)
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
  }
  .navbar .container .row .navbar-collapse .sub-menu li:hover a{
    color: #fff;
  }
  .navbar .container .row .navbar-collapse .sub-menu li a{
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 14px;
    line-height: 16px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 11px;
    border-bottom: 1px solid #a9cbdc;
    width: 100%;
    display: block;
    position: relative;
    font-weight: 400;
    text-transform: inherit;
    color: var(--nav-hover);
  }
  .navbar .container .row .navbar-collapse .sub-menu li:last-child a {
    border-bottom: 1px solid transparent;
  }
  .navbar .container .row .navbar-collapse .sub-menu li:hover a{
    color: #fff;    
    border-bottom: 1px solid var(--nav-text)
  }
  .navbar .container .row .navbar-collapse >ul >li{
    position: relative;
  }
  .navbar .container .row .navbar-collapse >ul >li:nth-child(3){

  }
  .navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li{
    position: relative;
    /* padding-left: 44px; */
  }
  .navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li > a{
    padding-left: 10px;
  }
  .navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li:hover > a:before{
    filter: brightness(0) invert(1);
  }

  .navbar .container .row .navbar-collapse >ul >li:nth-child(4){

  }
  .navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li{
    position: relative;
    /* padding-left: 44px; */
  }
  .navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li > a{
    padding-left: 10px;
  }
  .navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li:hover > a:before{
    filter: brightness(0) invert(1);
  }


  @media (min-width: 768px) {
/* .navbar .container .row .navbar-collapse {
  position: relative;
  top: 16px;
  } */
  .phone-top {
    position: absolute;
    display: flex;
    right: 0;
    align-items: center;
  /** margin-right: 89px; **/
    color: var(--nav-text);
    /* bottom: 5px; */
    font-size: 19px;
    font-family: "Source Sans Pro";
  }
  .phone-top > div {
    /* display: table-cell; */
    height: 40px;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
    width: 239px;
  }
  .phone-top > div img {
    margin-right: 15px;
    width: 20px;
    aspect-ratio: 1;
  }
  .phone-top > div strong {
    color: var(--main-beige);
    font-weight: 600;
  }
}

  </style> -->




<!-- 

.navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li:nth-child(1) >a:before{
  content: url(../img/ico1-1.png);
  position: absolute;
  left: -36px;
  top: 10px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li:nth-child(2) >a:before{
  content: url(../img/ico1-2.png);
  position: absolute;
  left: -39px;
  top: 7px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li:nth-child(3) >a:before{
  content: url(../img/ico1-3.png);
  position: absolute;
  left: -36px;
  top: 9px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li:nth-child(4) >a:before{
  content: url(../img/ico1-4.png);
  position: absolute;
  left: -33px;
  top: 18px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li:nth-child(5) >a:before{
  content: url(../img/ico1-5.png);
  position: absolute;
  left: -34px;
  top: 17px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(3) > .sub-menu > li:nth-child(6) >a:before{
  content: url(../img/ico1-6.png);
  position: absolute;
  left: -33px;
  top: 15px;
}


.navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li:nth-child(1) >a:before{
  content: url(../img/ico2-1.png);
  position: absolute;
  left: -36px;
  top: 7px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li:nth-child(2) >a:before{
  content: url(../img/ico2-2.png);
  position: absolute;
  left: -34px;
  top: 13px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li:nth-child(3) >a:before{
  content: url(../img/ico2-3.png);
  position: absolute;
  left: -32px;
  top: 15px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li:nth-child(4) >a:before{
  content: url(../img/ico2-4.png);
  position: absolute;
  left: -31px;
  top: 12px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li:nth-child(5) >a:before{
  content: url(../img/ico2-5.png);
  position: absolute;
  left: -30px;
  top: 14px;
}
.navbar .container .row .navbar-collapse >ul >li:nth-child(4) > .sub-menu > li:nth-child(6) >a:before{
  content: url(../img/ico2-6.png);
  position: absolute;
  left: -31px;
  top: 5px;
}


-->